baseURL = "http://eduardocp.github.io/"
defaultContentLanguage = "en"
languageCode = "en"
title = "Eduardo Carísio"
theme = "LoveIt"

[params]
  version = "0.2.X"
  description = "This is My New Hugo Site"
  keywords = ["Theme", "Hugo"]
  defaultTheme = "auto"
  gitRepo = ""
  fingerprint = ""
  dateFormat = "2006-01-02"
  images = ["/logo.png"]

  [params.search]
    enable = true
    type = "algolia"
    contentLength = 4000
    placeholder = ""
    maxResultLength = 10
    snippetLength = 30
    highlightTag = "em"
    absoluteURL = false
    [params.search.algolia]
      index = "eduardocp.github.io"
      appID = "295OASPIW7"
      searchKey = "02ce428eacd4cb4abc68b2b7d6348ea5"

[menu]
  [[menu.main]]
    identifier = "posts"
    pre = ""
    post = ""
    name = "Posts"
    url = "/posts/"
    title = ""
    weight = 1
  [[menu.main]]
    identifier = "tags"
    pre = ""
    post = ""
    name = "Tags"
    url = "/tags/"
    title = ""
    weight = 2
  [[menu.main]]
    identifier = "categories"
    pre = ""
    post = ""
    name = "Categories"
    url = "/categories/"
    title = ""
    weight = 3

[markup]
  [markup.highlight]
    noClasses = false

# Author config
[author]
  name = "Eduardo Carísio"
  email = "eduardo_carisio@hotmail.com"
  link = "http://eduardocp.github.io/"

# Sitemap config
[sitemap]
  changefreq = "weekly"
  filename = "sitemap.xml"
  priority = 0.5

# Options to make hugo output files
[outputs]
  # LoveIt CHANGED | 0.2.0
  home = ["HTML", "RSS", "JSON"]
  page = ["HTML"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]
  taxonomyTerm = ["HTML"]